.restaurants-container {
  margin: 5%;
}

.search-heading {
  font-size: 30px;
  padding: 16px 0;
  color: #444;
  text-align: center;
}

/*Container*/
.search-container-dishes {
  width: 100%;
  align-content: center;
  padding: 0;
}

.search-container-dishes input {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  font-style: italic;
  color: #444;
  box-sizing: border-box;
  outline: none;
  border: 0.3px solid;
}

.search-container {
  margin: 36px auto;
  width: 100%;
  max-width: 1200px;
}

.search-label {
  position: relative;
  padding: 0 4px 4px 0;
}

.search-label-dishes {
    position: relative;
    padding: 0 4px 4px 0;
}

.search-label-dishes > #search-input {
    height: 50px;
}

.restaurant-body > label {
    font-size: 25px;
    color: black;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
}

.search-container input {
  width: 100%;
  padding: 16px;
  font-size: 15px;
  font-style: italic;
  color: #444;
  box-sizing: border-box;
  outline: none;
}

.search-icon {
  position: absolute;
  top: +30%;
  font-size: 26px;
  color: #555;
  right: 26px;
  opacity: 0.2;
}

.search-label-dishes > .search-icon {
    top: +20%;
}



/* Results */
.results-container {
  display: flex;
  flex-flow: wrap;
}

.result-items {
  position: relative;
  padding: 16px;
  border: 1px solid #898989;
  margin: 16px;
  text-align: center;
  min-width: 200px;
  text-decoration: none;
  box-shadow: 2px 2px 2px #898989;
}

/*Loader*/
.search-loading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

/*Show and hide*/
.show {
  display: inline-block;
}

.hide {
  display: none;
}

@media (max-width: 576px) {
    .restaurants-container > .nav-item {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .restaurant-body {
        padding: 0;
    }
    .search-container-dishes {
        padding: 0;
    }
    .restaurant-dishes {
        padding: 0 0 0 15px;
    }
}
