/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/chef_PNG140.png') no-repeat center top;
  background-size: contain;
}

.restaurants-container > .nav-link {
  padding: 0;
}
/* ========================== Dish css ==============*/

.root {
  display: flex;
  flexwrap: wrap;
  justifycontent: space-around;
  overflow: hidden;
  backgroundcolor: blue;
}
.gridList {
  width: 500px;
  /*height: 450px;*/
}
.icon {
  color: rgba(255, 255, 255, 0.54);
}
